*{
	margin:0;
	padding:0;
}
body{
	background: #000;
	text-align: center;

}

.main{
	font-family: SimHei,"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei",  "\5B8B\4F53", simsun, sans-serif;
	color:#fff;
	
	
	
}
.time{
	font-size: 5em;
	margin-top: 20%;
	width: 90%;
	position: relative;
}
.time img{
	width:4%;
}
.time span{
	 content: ":";
}